<div style="text-align: center;" class="mb-4">
  <h2 class="text-danger">
    Login
  </h2>
  <div>Click on <a routerLink="/signup" class="text-decoration-none fw-medium text-danger d-inlin-block">Register</a>
    to create an account
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')">
      Please enter your email address.
    </div>
  </div> -->
  <div class="mb-3">
    <div class="input-group">
      <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    </div>
    <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')">
      Please enter your email address.
    </div>
  </div>
  <!-- <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')">
      Please enter your password.
    </div>
  </div> -->
  <div class="mb-3">
    <div class="input-group">
      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control bg-body-secondary" placeholder="Password" formControlName="password" />    
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="bi" [ngClass]="{'bi bi-eye-slash': !fieldTextType, 'bi bi-eye': fieldTextType }" (click)="toggleFieldTextType()"></i>
        </span>
      </div>
    </div>
    <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')">
        Please enter your password.
      </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-danger w-100 rounded-3">
      Sign in
    </button>
  </div>
</form>
