.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: lightgray;
}
.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
   width: 10%;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}

.button-icon-text {
    display: inline-flex;
    vertical-align: middle;
}

.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}